{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>ARTICLES</h1>
 <div class="row">
   <h2> News articles </h2>
   {% for article in articles %}
   <div class="col-md-4">
         <h3>{{ article.author}}</h3>
        <img src="{{article.urlToImage}}" alt="News photo" height="200px", width="350px">
        <p> {{ article.title}}</p>
        <p>{{article.description}}</p>
        <a href="{{article.url}}" class = "btn btn-info">Read Full Story</a>
        <p>Publish date: <i>{{ article.publishedAt}}</i></p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
