{% import 'macros.html' as macro%}
{% extends 'base.html'%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to NEWS HIGHLIGHTS </title>
        {% endif %}
    </head>
    <body>
            {% block content %}
            <div class="container">
                <div class="row">
                       
                    <!-- the days news section  -->
                    <h1> News Sources </h1>
                    <ul>
                        {% for news_source in source %}
                            <h2>{{ news_source.id}}</h2>
                            <p>{{ news_source.description}}</p>
                            <a href="/article/{{news_source.id}}" class = "btn btn-success">Go To articles Page</a>
                        {% endfor %}
                
            </div>
            </div>   
                {% endblock%}
            </ul>
    
    </body>
</html>