{% import 'macros.html' as macro%}
{% extends 'base.html'%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to NEWS HIGHLIGHTS </title>
        {% endif %}
    </head>
    <body>
            {% block content %}
            <!-- the days news section  -->
            <h3> News articles </h3>
             <ul>
                {% for article in articles %}

                    <li>{{ article.title }}</li>
                    <img src="{{ article.urlToImage }}" alt="News image">
                    <li>{{ article.description }}</li>
                    <a href="{{article.url}}">Read article</a>
                    <li>{{ article.publishedAt }}</li>
                    
                {% endfor %}

            </ul>
            {% endblock%}
    
    </body>
</html>